* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

#kurslar .container, #egitimler .container, header .container {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
}

p {
  letter-spacing: 0.06rem;
}

#kurslar .container .kurslar .kurs .kurs-bilgiler .kurs-reyting, #kurslar .container .kurslar .kurs .kurs-bilgiler .kurs-icerik, #kurslar .container .kurslar .kurs .kurs-bilgiler .kurs-aciklama {
  margin-bottom: 0.25rem;
  opacity: 0.7;
  font-size: 0.8rem;
}

#profil a:hover, header #navbar ul li a:hover {
  border: 1px solid #EF7013;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #EF7013;
  padding: 0.5rem;
}

header {
  background: #000549;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  height: 80px;
}
header .container .logo {
  display: flex;
  align-items: center;
  height: auto;
}
header .container .logo h1 {
  color: #EF7013;
}
header .container .logo img {
  padding-right: 2rem;
  border-radius: 100%;
}
header #navbar ul {
  display: flex;
}
header #navbar ul li a {
  color: white;
  font-size: 0.9rem;
  border: 1px solid #000549;
  letter-spacing: 0.75px;
  padding: 0.5rem;
}

#profil {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#profil .profil-resmi {
  height: auto;
}
#profil .profil-resmi img {
  border-radius: 100%;
}
#profil .name {
  padding-bottom: 1rem;
}
#profil .name p {
  opacity: 0.7;
  font-style: italic;
  font-size: 0.8rem;
}
#profil a {
  color: white;
  font-weight: 600;
  border: 1px solid #000549;
  border-radius: 5px;
  background-color: #000549;
  padding: 0.5rem;
}
#profil a:hover {
  background-color: white;
}

#egitimler {
  background-color: #000549;
  color: white;
  text-align: center;
  padding: 1rem;
}
#egitimler .container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
}
#egitimler .container .article {
  width: 32%;
}
#egitimler .container .article:hover {
  color: #EF7013;
  border-radius: 10px;
}

#kurslar {
  padding: 1rem;
}
#kurslar h2 {
  text-align: center;
}
#kurslar .container {
  padding: 1rem;
}
#kurslar .container .kurslar {
  flex-direction: column;
}
#kurslar .container .kurslar .kurs {
  display: flex;
}
#kurslar .container .kurslar .kurs .kurs-image {
  position: relative;
  margin-bottom: 0.5rem;
}
#kurslar .container .kurslar .kurs .kurs-image span {
  background-color: red;
  padding: 0.2rem;
  border-radius: 3px;
  position: absolute;
  left: 10px;
  top: 10px;
}
#kurslar .container .kurslar .kurs .kurs-image img {
  border-radius: 5px;
}
#kurslar .container .kurslar .kurs .kurs-bilgiler {
  margin-left: 1rem;
}
#kurslar .container .kurslar .kurs .kurs-bilgiler .kurs-baslik {
  font-weight: 700;
  letter-spacing: 1px;
}
#kurslar .container .kurslar .kurs .kurs-bilgiler .kurs-aciklama {
  font-size: 1rem;
}/*# sourceMappingURL=main.css.map */