@import "global";

//header
header {
    background: nth($nav-bg,1);
    .container {
    @extend %sayfa-ortalama;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    height: 80px;
    .logo{
        display: flex;
        align-items: center;
        height: auto;
        h1{
            color:nth($hover-color,1);
        }
        img{
            padding-right: 2rem;
            border-radius: 100%;
        }
    }
    }

    //menu
    #navbar {
        ul {
            display: flex;
            li{ 
                padding: 0.5rem;              
                a{
                    @extend %menu-hover;
                    padding: 0.5rem;
                    &:hover{
                        background-color: nth($nav-bg,1);
                    }
                    
                }
            }
        }
    }
}

//profil
#profil{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .container{
        @extend %sayfa-ortalama;
        .profil-resmi{
            height: auto;
            img{
                border-radius: 100%;
            }
        }
        .name{
            padding-bottom: 1rem;
            p{
                opacity: 0.7;
                font-style: italic;
                font-size: 0.8rem;
            }
        }
        a{
            background-color: nth($nav-bg,1);
            border-radius: 4px;
            font-weight:600;
            padding: 0.65rem;
            @extend %menu-hover;
        }
    }
}

//Eğitimler
#egitimler{
    background-color: nth($nav-bg,1);
    color: nth($nav-color,1);
    text-align: center;
    padding: 1rem;
    .container{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 0;
        @extend %sayfa-ortalama;
        .article{
            width:32%;
            &:hover{
                color: nth($hover-color,1);
                border-radius: 10px;
            }
        }
    }
}

//Kurslar
#kurslar{
    @extend %h2;
    padding: 1rem;
    .container{
        @extend %sayfa-ortalama;
        padding:1rem;
        .kurslar{
            flex-direction: column;
            .kurs{
                display: flex;
                .kurs-image{
                    position: relative;
                    margin-bottom: 0.5rem;
                    span{
                        background-color: red;
                        padding: 0.20rem;
                        border-radius: 3px;
                        position: absolute;
                        left: 10px;
                        top: 10px;
                    }
                    img{
                    border-radius: 5px;
                        width: 100%;
                        height: auto;
                    }
                }
                .kurs-bilgiler{
                    margin-left: 1rem;
                    .kurs-baslik{
                        font-weight: 700;
                        letter-spacing: 1px;
                    }
                    .kurs-aciklama{
                        @extend %kurs-text;
                        font-size: 1rem;
                    }
                    .kurs-icerik{
                        @extend %kurs-text;
                    }
                    .kurs-reyting{
                        @extend %kurs-text;

                    }
                }
            }
        }
    }
}

// Form - footer
#footer{
    background-color: nth($nav-bg,1);
    color: nth($nav-color,1);
    @extend %h3;
    padding: 1rem;
    .iletisim{
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        form {
        .form-group{   
        label{
            display: block;
            margin-bottom: 0.50rem;
        }
        input, textarea{
            @extend %form-control;
            width: 100%;
            resize: none;
            margin-bottom: 0.50rem;
        }
    }
    button {
        background-color: nth($nav-bg,1);
        border: 1px solid nth($nav-color,1);
        border-radius: 5px;
        font-weight: bold;
        @extend %button;
        @extend %menu-hover;
    }
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1rem;
        li{
            a{
                color: nth($nav-color,1);
                padding: 0 1.5rem;
                font-size: 1.5rem;
                &:hover{
                    color: nth($hover-color,1);
                }
            }
        }
    }
    }
}